body {
  background-color: white;
  animation: fadeBgToBlack 10s ease-in-out 16s forwards;
}

g.t path {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  fill-opacity: 0;
  stroke-opacity: 0;
  animation: draw 10s ease-out 2s forwards, appear 10s ease-in 4s forwards;
  @for $i from 1 through 1000 {
    &:nth-child(#{$i}) {
      animation-delay: (1s + 0.001s * $i), (2s + 0.002s * $i);
    }
  }
}

@keyframes fadeBgToBlack {
  to {
    background-color: black;
  }
}

@keyframes fadeTextShadow {
  to {
    text-shadow: 0 1px 2px transparent;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 750;
    stroke-opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes appear {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}
