g.t path {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  fill-opacity: 0;
  stroke-opacity: 0;
  animation: draw 10s ease-out 2s forwards, appear 10s ease-in 4s forwards;
  @for $i from 1 through 1000 {
    &:nth-child(#{$i}) {
      animation-delay: (1s + 0.001s * $i), (2s + 0.002s * $i);
    }
  }
}

g.t {
  animation: flicker 0.5s ease-in-out 12s forwards 50;
}
g.ali {
  opacity: 0;
  animation: flash 0.5s ease-in-out 14s forwards 50;
}
g.oes {
  opacity: 0;
  animation: flash 0.5s ease-in-out 14.1s forwards 50;
}
g.ant {
  opacity: 0;
  animation: flash 0.5s ease-in-out 14.2s forwards 50;
}
g.tdog {
  opacity: 0;
  animation: flash 0.5s ease-in-out 14.3s forwards 50;
}
g.ice {
  opacity: 0;
  animation: flash 0.5s ease-in-out 14.4s forwards 50;
}
g.lla {
  opacity: 0;
  animation: flickerIn 1s ease-in-out 29s forwards;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.75;
  }
  15% {
    opacity: 0.75;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.75;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0.75;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.75;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeBgToBlack {
  to {
    background-color: black;
  }
}

@keyframes fadeTextShadow {
  to {
    text-shadow: 0 1px 2px transparent;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 750;
    stroke-opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes appear {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes cursorOut {
  to {
    border: none;
  }
}

@keyframes cursorIn {
  to {
    border-left: 1em solid rgba(200,200,200,0.5);
  }
}

@keyframes bolt {
  from {
    bottom: 1000px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes gear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
